.root:global(:not(.no-margin)) {
    margin-bottom: 8px;
  }
.required {
  --input-asterisk-color: var(--text-color);
}
.label {
    margin-bottom: 4px;
    font-family: 'Lexend';
    font-size: 14px;
    line-height: 19.6px;
}
