.option {
  border-radius: 0;
  &:hover {
    background-color: var(--primary-hover-color);
  }
  & > div {
    white-space: nowrap;
    max-width: 270px;
    flex: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    & > span {
      max-width: 20px;
      display: inline-block !important;
    }
  }
}

.dropdown {
  padding: 0;
  margin: 0;
  border-radius: 6px;
  --popover-shadow: 0 3px 8px rgba(14, 14, 44, 0.1);
}
