<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@mantine/core@7.11.2/styles.css" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="<%= htmlWebpackPlugin.options.rootId %>"></div>

    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', function () {
        UrbanRoadComponents.multiStepForm({
          elementId: '<%= htmlWebpackPlugin.options.rootId %>',
          name: '<%= htmlWebpackPlugin.options.component %>',
        });
      });
    </script>
  </body>
</html>
