:root {
  --text-color: #212121;
  --link-color: #d58967;
  --primary-hover-color: #f6eadf;
  --primary-button-color: #f4b35d;
  --white-color: #ffffff;
  --dark-grey: #5c5c5c;
  --stepper-icon-color: var(--text-color);
}

body {
  background-color: #fcf8f2;
}

.action-icon {
  & > svg path {
    fill: var(--dark-grey);
  }
}

.stepper-icon {
  &[data-progress="true"] {
    border: none;
    background-color: var(--primary-button-color);
  }
  &[data-completed] {
    background-color: transparent;
    border: 1.5px solid var(--primary-button-color);
    & > * {
      position: relative;
    }
  }
  &:not([data-progress]):not([data-completed]) {
    background-color: transparent;
    border: 1.5px solid var(--primary-button-color);
  }
}

.ur-phone-input {
  --phone-input-width: 100%;
  width: var(--phone-input-width);
  background: var(--white-color);
  padding: 16px 10px;
  height: 48px;
  &__input {
    width: 100%;
  }
  &__country-code {
    $border: 1px solid rgba(102, 102, 102, 0.2);
    border-left: $border;
    border-right: $border;
    padding: 0 8px;
    margin: 0 2px;
  }
}
