@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,700;1,700&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --text-color: #212121;
  --link-color: #d58967;
  --primary-hover-color: #f6eadf;
  --primary-button-color: #f4b35d;
  --white-color: #ffffff;
  --dark-grey: #5c5c5c;
  --stepper-icon-color: var(--text-color);
  --mantine-font-family: 'Open Sans';
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

body {
  background-color: #fcf8f2;
}

.action-icon {
  & > svg path {
    fill: var(--dark-grey);
  }
}
.ur-phone-input__input {
  width: 100%;
  input {
    border: none;
  }
}
.ur-phone-input__country-code {
  border-left: 1px solid rgba(102, 102, 102, 0.2);
  border-right: 1px solid rgba(102, 102, 102, 0.2);
  padding: 0 8px;
  margin: 0 2px;
}
.ur-phone-input {
  @apply flex items-center border rounded-[7px];
  --phone-input-width: 100%;
  width: var(--phone-input-width);
  background: var(--white-color);
  padding: 16px 10px;
  height: 48px;
  &:has(> div > div > input:focus) {
    border: 1px solid var(--link-color);
  }
}

.mantine-Select-option,
.mantine-MultiSelect-option {
  padding: 9px 10px !important;
}
